<div class="container">
	<h1>welcome to Q&amp;A</h1>
	<div class="">
		<%= link_to image_tag("ruby.jpeg"), '#', :title => "ruby" %>
	</div>
	<div class="">
		<%= link_to image_tag("rails.jpg"), '#', :title => "rails" %>
	</div>
	<div class="">
		<%= link_to image_tag("html_css.jpg"), '#', :title => "html and css" %>
	</div>
	<div class="">
		<%= link_to image_tag("jquery.jpeg"), '#', :title => "javascript and jquery" %>
	</div>
</div>


