

h1 {
	text-align: center;
	margin-bottom: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #0B0B61;
	font-size: 50px;
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
}

.container {
	padding-right: 100px;
	padding-left: 100px;
	margin-right: 50px;
	margin-left: 50px;
}

.right-image-position {
	float: right;
}

.left-image-position {
	float: left;
}

.image_border {
	border: 1px solid #949393;
}

.padding-images {
	margin-top: 20px;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-5 {
	width: 41.66666666666667%;
}

.col-xs-4 {
	width: 33.33333333333333%;
}

.col-xs-3 {
	width: 25%;
}

.button {
  padding: 6px 12px;
  background-color: #66CCFF;
  font-size: 14px;
  color: black;
  line-height: 1.428571429;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #A6A6A6;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3);
}

.back-button-position {
	float: right;
}

.ask-questions-position {
	float: left;
}

.form-padding {
	margin-top: 100px;
}

.text-field-dimenstions {
	width: 86%;
	padding: 8px;
}

.padding-btwn-fileds {
	padding-top: 20px;
}

.post-btn-padding {
	padding-bottom: 30px;
}

.questions-style {
	color: #0c65a5;
}

.description-style {
	overflow: hidden;
	margin-right: 30px;
	padding-right: 20px;
	height:17px;
	font-size: 14px;
}

.questions-devider {
  border-bottom: 1px solid #cccccc; margin: 20px -20px;
}

.comment-devider {
  border-bottom: 1px solid #cccccc; margin: 20px -20px;
  margin-left :130px;
}


.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.show-header {
	font-size: 24px;
	line-height: 1.35;
	font-weight: normal;
	margin-bottom: .5em;
}

.show-description {
  font-size: 14px;
  line-height: 1.75;
  font-weight: normal;
  margin-right: 250px;
  margin-bottom: 25px;
  margin-left: 50px;
}

.show-answer-position {
	margin-bottom: 30px;
	line-height: 1.75;
	font-size: 14px;
	margin-left: 50px;
}
.show-email-position {
	margin-left: 760px;
}
.edit-buttons-position {
	margin-bottom: 20px;
}
.home-page-image {
	background: image-url("notaries.jpg");
	background-size: cover;
	height: 675px;
	margin-top: -34px;
	margin-right: -8px;
	margin-left: -8px;
}

.home-page-text {
	color: #FFFFCC;
	margin-bottom: 30px;
	padding-top: 100px;
}

h2 {
  text-align: center;
  color: #0B0B61;
  padding-top: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new_user {
	text-align: center;
}
#user_email {
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  margin-left: 50px;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

#user_password {
	width: 30%;
  height: 34px;
  padding: 6px 12px;
  margin-left: 50px;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

#user_password_confirmation {
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  margin-left: 50px;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.field {
	margin-bottom: 20px;
}

.log-out-btn {
	float: right;
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-position {
	background-image: linear-gradient(to bottom, #3C3C3C 0px, #222222 100%);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	height: 55px;
	margin-top: -30px;
	padding-right: 16px;
}

.app-name-in-header {
	float: left;
	color: #fff;
	margin-left: 15px;
	margin-top: 8px;
}

.header-email-position {
	color: #fff;
	padding-top: -28px !important;
	float: right;
	margin-right: 35px;
}

.sign-up-btn {
	float: right;
	margin-top: 0px;
	color: #fff;
	text-decoration: none;
}

.sign-in-btn {
	float: right;
	margin-top: 0px;
	color: #fff;
	margin-right: 15px;
	text-decoration: none;
}
.edit-answer-btn {
	margin-bottom: -35px;
}

#title_link {
	text-decoration: none;
}

.search_field {
  width: 25%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.search_button {
	height: 30px;
}

.comment_box {
	overflow-y: auto;
	height: 100px; 
	width: 600px;
}

.comment_link {
   text-decoration: none;
   color: black;
}
.display_commet {
	font-size: 12px;
	margin-left: 150px;
}
.question_show_category {
	margin-left :130px;
}
.question_count {
	margin-top: -50px;
}

.dropdown-position {
	margin-left:860px;
	margin-right:320px;
	padding-top: 15px;
}

.dropdown-decoretion {
	text-decoration: none !important;
	color:#fff;
}